<form>
    <input type="text" name="username" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <input type="email" name="email" placeholder="email">
    <input type="submit">
</form>